@page
@model RazorSegundoProjeto.Pages.Funcionarios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.dtAdmissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.dtAdmissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.SalBruto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.SalBruto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Senha)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Funcionario.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
