@page
@model RazorSegundoProjeto.Pages.Funcionarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.dtAdmissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.dtAdmissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.SalBruto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.SalBruto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Senha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Funcionario.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
