@page
@model RazorSegundoProjeto.Pages.Estoques.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estoques[0].Nome_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoques[0].Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoques[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoques[0].dt_Entrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estoques) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dt_Entrada)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
